<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Image Uploading</title> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>PaathShala </title>


    <style media="screen">
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
     body {
font-family: -apple-system-subheadline, BlinkMacSystemFont, sans-serif;
}
    *,
*::before,
*::after {
box-sizing: border-box;
}
html {
font-size: 62.5%;
}
body {
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
line-height: 1.5;
background: lightblue;
display: flex;
height: 100vh;
flex-direction: column;
align-items: center;
justify-content: center;
}
h2::selection,
label::selection,
button::selection {
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
}
.wrapper {
width: 90%;
padding: 2rem;
background: #fff;
box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.028), 0 0px 5.3px rgba(0, 0, 0, 0.04),
  0 0px 10px rgba(0, 0, 0, 0.05), 0 0px 17.9px rgba(0, 0, 0, 0.06),
  0 0px 33.4px rgba(0, 0, 0, 0.072), 0 0px 80px rgba(0, 0, 0, 0.1);
}
h2 {
background: rgba(173, 216, 230, 0.7);
letter-spacing: 0.1rem;
padding: 1rem;
cursor: default;
}
form,
input,
textarea,
button {
font-family: inherit;
font-size: initial;
}
.form-group label {
display: block;
margin: 2rem 0 0.5rem 0;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
width: 100%;
padding: 1rem 0.8rem;
border: 1px solid rgba(0, 0, 0, 0.2);
outline: 0;
transition: border 0.15s;
}
.form-group input[type="text"],
.form-group input[type="email"] {
height: 4.6rem;
}
.form-group textarea {
resize: vertical;
}
.submit {
font-weight: bold;
margin-top: 1rem;
padding: 1rem 1.5rem;
border: none;
background: rgba(173, 216, 230, 0.7);
cursor: pointer;
transition: background 0.15s;
}
i {
margin-right: 0.5rem;
}
.submit:hover {
background: rgba(173, 216, 230, 1);
}
.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
border: 1px solid #222;
}
nav{
  margin:0;
  padding:0;
  margin-top: -17vh;
  font-size: 17px;
  background-color: white;
  width: 100%;
  margin-bottom: 20vh;
  height:7vh;

}

@media screen and (min-width: 576px) {
.wrapper {
  width: 70%;
}
}
@media screen and (min-width: 768px) {
.wrapper {
  width: 55%;
}
}
@media screen and (min-width: 992px) {
.wrapper {
  width: 45%;
}
}
@media screen and (min-width: 1200px) {
.wrapper {
  width: 35%;
}
}
    </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light " >
      <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item  ml-auto" >
              <img src="images/Paathshala.png" alt="" width="150" style="margin-top: 1vh;margin-left: 44vw">
            </li>
            <li class="nav-item  ml-auto" style=" font-weight: bold;" >
              <a class="nav-link " href="/instlogin" style="margin-left: 53vh; color: #0051ed;" class="gradient-border"  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1" data-bs-whatever="@fat">Login</a>
            </li>

          </ul>
          <span class="navbar-text">

          </span>
        </div>
      </div>
    </nav>

<div class="wrapper" >
  <h2>Add your details</h2>
    <form action="/pic" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="name">Full Name</label>
      <input type="text" name="name" id="name" placeholder="First and Last" required minlength="3" maxlength="25" />
    </div>

    <div class="form-group">
      <label for="message">Description</label>
      <textarea name="desc" id="message" rows="5" placeholder="Enter your description"></textarea>
    </div>
    <div class="form-group">
      <input type="file" id="image"
             name="image" value="" required>
    </div>
    <div class="form-group">
      <button type="submit" class="submit"><i class="far fa-paper-plane"></i>Send</button>
    </div>
  </form>
</div>
</body>

</html>
