<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ae8f1db1af.js" crossorigin="anonymous"></script>
    <title>Full-Stack Courses</title>
    <style>
   .row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: rgb(69, 103 , 163);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
p{
  color: #ffffff;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
        
        a:hover
{
    color: aqua;
    text-decoration: none;

}
a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}
       .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
background-color: #EAF4FE;
    /* margin: 26px;
    padding: 12px; */
    margin-top: -3vh;
    height: 600px;
  
    /* border: 2px solid black; */
  }
  
  .flex-item-left {
    background: transparent;
    padding: 18px;
    flex: 50%;
    margin: 3px;
    /* border: 2px solid black; */
  }
  
  .flex-item-right {
    background: transparent;
    padding: 18px;
    margin: 3px;
    /* border: 2px solid black; */
    flex: 50%;
  }
  
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  
  }
    </style>
  </head>
  <body style="width: 100%;">
    <nav class="navbar navbar-expand-lg navbar-light " >
        <div class="container-fluid">
          <a class="navbar-brand" href="/ide" style="color: #0051ed; font-weight: bold; ">Practice</a>
          <a class="navbar-brand" href="    http://127.0.0.1:5500/index.html" style="color: #0051ed; font-weight: bold; ">Quiz</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" style="margin-left: 20vh; margin-top: 1vh; ">
                <input type="text"  style="border-radius: 5px; margin-top: 2vh; height: 5vh; border:1.5px solid grey" placeholder="Search Courses">
              </li>
              <li class="nav-item  ml-auto" >
                <svg width="250" height="45" viewBox="0 0 300 45" style="margin-left: 25vh;" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.0859 21.6172H7.71094V31.3438C7.71094 32.7344 7.38281 33.7891 6.72656 34.5078C6.07031 35.2266 5.24219 35.5859 4.24219 35.5859C3.19531 35.5859 2.35156 35.2344 1.71094 34.5312C1.07031 33.8125 0.75 32.7656 0.75 31.3906V4.90625C0.75 3.375 1.10156 2.28125 1.80469 1.625C2.50781 0.96875 3.625 0.640625 5.15625 0.640625H14.0859C16.7266 0.640625 18.7578 0.84375 20.1797 1.25C21.5859 1.64063 22.7969 2.28906 23.8125 3.19531C24.8438 4.10156 25.625 5.21094 26.1562 6.52344C26.6875 7.83594 26.9531 9.3125 26.9531 10.9531C26.9531 14.4531 25.875 17.1094 23.7188 18.9219C21.5625 20.7188 18.3516 21.6172 14.0859 21.6172ZM12.3984 5.86719H7.71094V16.3672H12.3984C14.0391 16.3672 15.4062 16.1953 16.5 15.8516C17.6094 15.5078 18.4531 14.9453 19.0312 14.1641C19.6094 13.3828 19.8984 12.3594 19.8984 11.0938C19.8984 9.57812 19.4531 8.34375 18.5625 7.39062C17.5625 6.375 15.5078 5.86719 12.3984 5.86719ZM46.6641 31.9766C45.1172 33.1797 43.6172 34.0859 42.1641 34.6953C40.7266 35.2891 39.1094 35.5859 37.3125 35.5859C35.6719 35.5859 34.2266 35.2656 32.9766 34.625C31.7422 33.9688 30.7891 33.0859 30.1172 31.9766C29.4453 30.8672 29.1094 29.6641 29.1094 28.3672C29.1094 26.6172 29.6641 25.125 30.7734 23.8906C31.8828 22.6562 33.4062 21.8281 35.3438 21.4062C35.75 21.3125 36.7578 21.1016 38.3672 20.7734C39.9766 20.4453 41.3516 20.1484 42.4922 19.8828C43.6484 19.6016 44.8984 19.2656 46.2422 18.875C46.1641 17.1875 45.8203 15.9531 45.2109 15.1719C44.6172 14.375 43.375 13.9766 41.4844 13.9766C39.8594 13.9766 38.6328 14.2031 37.8047 14.6562C36.9922 15.1094 36.2891 15.7891 35.6953 16.6953C35.1172 17.6016 34.7031 18.2031 34.4531 18.5C34.2188 18.7812 33.7031 18.9219 32.9062 18.9219C32.1875 18.9219 31.5625 18.6953 31.0312 18.2422C30.5156 17.7734 30.2578 17.1797 30.2578 16.4609C30.2578 15.3359 30.6562 14.2422 31.4531 13.1797C32.25 12.1172 33.4922 11.2422 35.1797 10.5547C36.8672 9.86719 38.9688 9.52344 41.4844 9.52344C44.2969 9.52344 46.5078 9.85938 48.1172 10.5312C49.7266 11.1875 50.8594 12.2344 51.5156 13.6719C52.1875 15.1094 52.5234 17.0156 52.5234 19.3906C52.5234 20.8906 52.5156 22.1641 52.5 23.2109C52.5 24.2578 52.4922 25.4219 52.4766 26.7031C52.4766 27.9062 52.6719 29.1641 53.0625 30.4766C53.4688 31.7734 53.6719 32.6094 53.6719 32.9844C53.6719 33.6406 53.3594 34.2422 52.7344 34.7891C52.125 35.3203 51.4297 35.5859 50.6484 35.5859C49.9922 35.5859 49.3438 35.2812 48.7031 34.6719C48.0625 34.0469 47.3828 33.1484 46.6641 31.9766ZM46.2422 22.7188C45.3047 23.0625 43.9375 23.4297 42.1406 23.8203C40.3594 24.1953 39.125 24.4766 38.4375 24.6641C37.75 24.8359 37.0938 25.1875 36.4688 25.7188C35.8438 26.2344 35.5312 26.9609 35.5312 27.8984C35.5312 28.8672 35.8984 29.6953 36.6328 30.3828C37.3672 31.0547 38.3281 31.3906 39.5156 31.3906C40.7812 31.3906 41.9453 31.1172 43.0078 30.5703C44.0859 30.0078 44.875 29.2891 45.375 28.4141C45.9531 27.4453 46.2422 25.8516 46.2422 23.6328V22.7188ZM75.2109 31.9766C73.6641 33.1797 72.1641 34.0859 70.7109 34.6953C69.2734 35.2891 67.6562 35.5859 65.8594 35.5859C64.2188 35.5859 62.7734 35.2656 61.5234 34.625C60.2891 33.9688 59.3359 33.0859 58.6641 31.9766C57.9922 30.8672 57.6562 29.6641 57.6562 28.3672C57.6562 26.6172 58.2109 25.125 59.3203 23.8906C60.4297 22.6562 61.9531 21.8281 63.8906 21.4062C64.2969 21.3125 65.3047 21.1016 66.9141 20.7734C68.5234 20.4453 69.8984 20.1484 71.0391 19.8828C72.1953 19.6016 73.4453 19.2656 74.7891 18.875C74.7109 17.1875 74.3672 15.9531 73.7578 15.1719C73.1641 14.375 71.9219 13.9766 70.0312 13.9766C68.4062 13.9766 67.1797 14.2031 66.3516 14.6562C65.5391 15.1094 64.8359 15.7891 64.2422 16.6953C63.6641 17.6016 63.25 18.2031 63 18.5C62.7656 18.7812 62.25 18.9219 61.4531 18.9219C60.7344 18.9219 60.1094 18.6953 59.5781 18.2422C59.0625 17.7734 58.8047 17.1797 58.8047 16.4609C58.8047 15.3359 59.2031 14.2422 60 13.1797C60.7969 12.1172 62.0391 11.2422 63.7266 10.5547C65.4141 9.86719 67.5156 9.52344 70.0312 9.52344C72.8438 9.52344 75.0547 9.85938 76.6641 10.5312C78.2734 11.1875 79.4062 12.2344 80.0625 13.6719C80.7344 15.1094 81.0703 17.0156 81.0703 19.3906C81.0703 20.8906 81.0625 22.1641 81.0469 23.2109C81.0469 24.2578 81.0391 25.4219 81.0234 26.7031C81.0234 27.9062 81.2188 29.1641 81.6094 30.4766C82.0156 31.7734 82.2188 32.6094 82.2188 32.9844C82.2188 33.6406 81.9062 34.2422 81.2812 34.7891C80.6719 35.3203 79.9766 35.5859 79.1953 35.5859C78.5391 35.5859 77.8906 35.2812 77.25 34.6719C76.6094 34.0469 75.9297 33.1484 75.2109 31.9766ZM74.7891 22.7188C73.8516 23.0625 72.4844 23.4297 70.6875 23.8203C68.9062 24.1953 67.6719 24.4766 66.9844 24.6641C66.2969 24.8359 65.6406 25.1875 65.0156 25.7188C64.3906 26.2344 64.0781 26.9609 64.0781 27.8984C64.0781 28.8672 64.4453 29.6953 65.1797 30.3828C65.9141 31.0547 66.875 31.3906 68.0625 31.3906C69.3281 31.3906 70.4922 31.1172 71.5547 30.5703C72.6328 30.0078 73.4219 29.2891 73.9219 28.4141C74.5 27.4453 74.7891 25.8516 74.7891 23.6328V22.7188ZM86.7188 10.1328H87.4219V6.28906C87.4219 5.25781 87.4453 4.45313 87.4922 3.875C87.5547 3.28125 87.7109 2.77344 87.9609 2.35156C88.2109 1.91406 88.5703 1.5625 89.0391 1.29688C89.5078 1.01562 90.0312 0.875 90.6094 0.875C91.4219 0.875 92.1562 1.17969 92.8125 1.78906C93.25 2.19531 93.5234 2.69531 93.6328 3.28906C93.7578 3.86719 93.8203 4.69531 93.8203 5.77344V10.1328H96.1641C97.0703 10.1328 97.7578 10.3516 98.2266 10.7891C98.7109 11.2109 98.9531 11.7578 98.9531 12.4297C98.9531 13.2891 98.6094 13.8906 97.9219 14.2344C97.25 14.5781 96.2812 14.75 95.0156 14.75H93.8203V26.5156C93.8203 27.5156 93.8516 28.2891 93.9141 28.8359C93.9922 29.3672 94.1797 29.8047 94.4766 30.1484C94.7891 30.4766 95.2891 30.6406 95.9766 30.6406C96.3516 30.6406 96.8594 30.5781 97.5 30.4531C98.1406 30.3125 98.6406 30.2422 99 30.2422C99.5156 30.2422 99.9766 30.4531 100.383 30.875C100.805 31.2812 101.016 31.7891 101.016 32.3984C101.016 33.4297 100.453 34.2188 99.3281 34.7656C98.2031 35.3125 96.5859 35.5859 94.4766 35.5859C92.4766 35.5859 90.9609 35.25 89.9297 34.5781C88.8984 33.9062 88.2188 32.9766 87.8906 31.7891C87.5781 30.6016 87.4219 29.0156 87.4219 27.0312V14.75H86.5781C85.6562 14.75 84.9531 14.5312 84.4688 14.0938C83.9844 13.6562 83.7422 13.1016 83.7422 12.4297C83.7422 11.7578 83.9922 11.2109 84.4922 10.7891C85.0078 10.3516 85.75 10.1328 86.7188 10.1328ZM109.641 3.94531V13.4375C110.453 12.5 111.242 11.7578 112.008 11.2109C112.789 10.6641 113.648 10.2578 114.586 9.99219C115.523 9.71094 116.531 9.57031 117.609 9.57031C119.234 9.57031 120.672 9.91406 121.922 10.6016C123.188 11.2891 124.18 12.2891 124.898 13.6016C125.352 14.3672 125.656 15.2266 125.812 16.1797C125.969 17.1172 126.047 18.2031 126.047 19.4375V31.6953C126.047 32.9766 125.75 33.9453 125.156 34.6016C124.578 35.2578 123.805 35.5859 122.836 35.5859C120.727 35.5859 119.672 34.2891 119.672 31.6953V20.8906C119.672 18.8438 119.367 17.2734 118.758 16.1797C118.148 15.0703 116.992 14.5156 115.289 14.5156C114.148 14.5156 113.117 14.8438 112.195 15.5C111.289 16.1406 110.609 17.0234 110.156 18.1484C109.812 19.1016 109.641 20.7969 109.641 23.2344V31.6953C109.641 32.9609 109.352 33.9297 108.773 34.6016C108.211 35.2578 107.422 35.5859 106.406 35.5859C104.297 35.5859 103.242 34.2891 103.242 31.6953V3.94531C103.242 2.64844 103.516 1.67969 104.062 1.03906C104.625 0.382812 105.406 0.0546875 106.406 0.0546875C107.422 0.0546875 108.211 0.382812 108.773 1.03906C109.352 1.69531 109.641 2.66406 109.641 3.94531ZM170.672 3.94531V13.4375C171.484 12.5 172.273 11.7578 173.039 11.2109C173.82 10.6641 174.68 10.2578 175.617 9.99219C176.555 9.71094 177.562 9.57031 178.641 9.57031C180.266 9.57031 181.703 9.91406 182.953 10.6016C184.219 11.2891 185.211 12.2891 185.93 13.6016C186.383 14.3672 186.688 15.2266 186.844 16.1797C187 17.1172 187.078 18.2031 187.078 19.4375V31.6953C187.078 32.9766 186.781 33.9453 186.188 34.6016C185.609 35.2578 184.836 35.5859 183.867 35.5859C181.758 35.5859 180.703 34.2891 180.703 31.6953V20.8906C180.703 18.8438 180.398 17.2734 179.789 16.1797C179.18 15.0703 178.023 14.5156 176.32 14.5156C175.18 14.5156 174.148 14.8438 173.227 15.5C172.32 16.1406 171.641 17.0234 171.188 18.1484C170.844 19.1016 170.672 20.7969 170.672 23.2344V31.6953C170.672 32.9609 170.383 33.9297 169.805 34.6016C169.242 35.2578 168.453 35.5859 167.438 35.5859C165.328 35.5859 164.273 34.2891 164.273 31.6953V3.94531C164.273 2.64844 164.547 1.67969 165.094 1.03906C165.656 0.382812 166.438 0.0546875 167.438 0.0546875C168.453 0.0546875 169.242 0.382812 169.805 1.03906C170.383 1.69531 170.672 2.66406 170.672 3.94531ZM209.602 31.9766C208.055 33.1797 206.555 34.0859 205.102 34.6953C203.664 35.2891 202.047 35.5859 200.25 35.5859C198.609 35.5859 197.164 35.2656 195.914 34.625C194.68 33.9688 193.727 33.0859 193.055 31.9766C192.383 30.8672 192.047 29.6641 192.047 28.3672C192.047 26.6172 192.602 25.125 193.711 23.8906C194.82 22.6562 196.344 21.8281 198.281 21.4062C198.688 21.3125 199.695 21.1016 201.305 20.7734C202.914 20.4453 204.289 20.1484 205.43 19.8828C206.586 19.6016 207.836 19.2656 209.18 18.875C209.102 17.1875 208.758 15.9531 208.148 15.1719C207.555 14.375 206.312 13.9766 204.422 13.9766C202.797 13.9766 201.57 14.2031 200.742 14.6562C199.93 15.1094 199.227 15.7891 198.633 16.6953C198.055 17.6016 197.641 18.2031 197.391 18.5C197.156 18.7812 196.641 18.9219 195.844 18.9219C195.125 18.9219 194.5 18.6953 193.969 18.2422C193.453 17.7734 193.195 17.1797 193.195 16.4609C193.195 15.3359 193.594 14.2422 194.391 13.1797C195.188 12.1172 196.43 11.2422 198.117 10.5547C199.805 9.86719 201.906 9.52344 204.422 9.52344C207.234 9.52344 209.445 9.85938 211.055 10.5312C212.664 11.1875 213.797 12.2344 214.453 13.6719C215.125 15.1094 215.461 17.0156 215.461 19.3906C215.461 20.8906 215.453 22.1641 215.438 23.2109C215.438 24.2578 215.43 25.4219 215.414 26.7031C215.414 27.9062 215.609 29.1641 216 30.4766C216.406 31.7734 216.609 32.6094 216.609 32.9844C216.609 33.6406 216.297 34.2422 215.672 34.7891C215.062 35.3203 214.367 35.5859 213.586 35.5859C212.93 35.5859 212.281 35.2812 211.641 34.6719C211 34.0469 210.32 33.1484 209.602 31.9766ZM209.18 22.7188C208.242 23.0625 206.875 23.4297 205.078 23.8203C203.297 24.1953 202.062 24.4766 201.375 24.6641C200.688 24.8359 200.031 25.1875 199.406 25.7188C198.781 26.2344 198.469 26.9609 198.469 27.8984C198.469 28.8672 198.836 29.6953 199.57 30.3828C200.305 31.0547 201.266 31.3906 202.453 31.3906C203.719 31.3906 204.883 31.1172 205.945 30.5703C207.023 30.0078 207.812 29.2891 208.312 28.4141C208.891 27.4453 209.18 25.8516 209.18 23.6328V22.7188ZM221.977 31.6953V3.94531C221.977 2.66406 222.258 1.69531 222.82 1.03906C223.398 0.382812 224.172 0.0546875 225.141 0.0546875C226.109 0.0546875 226.891 0.382812 227.484 1.03906C228.078 1.67969 228.375 2.64844 228.375 3.94531V31.6953C228.375 32.9922 228.07 33.9688 227.461 34.625C226.867 35.2656 226.094 35.5859 225.141 35.5859C224.203 35.5859 223.438 35.25 222.844 34.5781C222.266 33.9062 221.977 32.9453 221.977 31.6953ZM251.18 31.9766C249.633 33.1797 248.133 34.0859 246.68 34.6953C245.242 35.2891 243.625 35.5859 241.828 35.5859C240.188 35.5859 238.742 35.2656 237.492 34.625C236.258 33.9688 235.305 33.0859 234.633 31.9766C233.961 30.8672 233.625 29.6641 233.625 28.3672C233.625 26.6172 234.18 25.125 235.289 23.8906C236.398 22.6562 237.922 21.8281 239.859 21.4062C240.266 21.3125 241.273 21.1016 242.883 20.7734C244.492 20.4453 245.867 20.1484 247.008 19.8828C248.164 19.6016 249.414 19.2656 250.758 18.875C250.68 17.1875 250.336 15.9531 249.727 15.1719C249.133 14.375 247.891 13.9766 246 13.9766C244.375 13.9766 243.148 14.2031 242.32 14.6562C241.508 15.1094 240.805 15.7891 240.211 16.6953C239.633 17.6016 239.219 18.2031 238.969 18.5C238.734 18.7812 238.219 18.9219 237.422 18.9219C236.703 18.9219 236.078 18.6953 235.547 18.2422C235.031 17.7734 234.773 17.1797 234.773 16.4609C234.773 15.3359 235.172 14.2422 235.969 13.1797C236.766 12.1172 238.008 11.2422 239.695 10.5547C241.383 9.86719 243.484 9.52344 246 9.52344C248.812 9.52344 251.023 9.85938 252.633 10.5312C254.242 11.1875 255.375 12.2344 256.031 13.6719C256.703 15.1094 257.039 17.0156 257.039 19.3906C257.039 20.8906 257.031 22.1641 257.016 23.2109C257.016 24.2578 257.008 25.4219 256.992 26.7031C256.992 27.9062 257.188 29.1641 257.578 30.4766C257.984 31.7734 258.188 32.6094 258.188 32.9844C258.188 33.6406 257.875 34.2422 257.25 34.7891C256.641 35.3203 255.945 35.5859 255.164 35.5859C254.508 35.5859 253.859 35.2812 253.219 34.6719C252.578 34.0469 251.898 33.1484 251.18 31.9766ZM250.758 22.7188C249.82 23.0625 248.453 23.4297 246.656 23.8203C244.875 24.1953 243.641 24.4766 242.953 24.6641C242.266 24.8359 241.609 25.1875 240.984 25.7188C240.359 26.2344 240.047 26.9609 240.047 27.8984C240.047 28.8672 240.414 29.6953 241.148 30.3828C241.883 31.0547 242.844 31.3906 244.031 31.3906C245.297 31.3906 246.461 31.1172 247.523 30.5703C248.602 30.0078 249.391 29.2891 249.891 28.4141C250.469 27.4453 250.758 25.8516 250.758 23.6328V22.7188Z" fill="black"/>
                  <path d="M158.953 24.6875C158.953 26.7656 158.414 28.6328 157.336 30.2891C156.273 31.9453 154.711 33.2422 152.648 34.1797C150.586 35.1172 148.141 35.5859 145.312 35.5859C141.922 35.5859 139.125 34.9453 136.922 33.6641C135.359 32.7422 134.086 31.5156 133.102 29.9844C132.133 28.4375 131.648 26.9375 131.648 25.4844C131.648 24.6406 131.938 23.9219 132.516 23.3281C133.109 22.7188 133.859 22.4141 134.766 22.4141C135.5 22.4141 136.117 22.6484 136.617 23.1172C137.133 23.5859 137.57 24.2812 137.93 25.2031C138.367 26.2969 138.836 27.2109 139.336 27.9453C139.852 28.6797 140.57 29.2891 141.492 29.7734C142.414 30.2422 143.625 30.4766 145.125 30.4766C147.188 30.4766 148.859 30 150.141 29.0469C151.438 28.0781 152.086 26.875 152.086 25.4375C152.086 24.2969 151.734 23.375 151.031 22.6719C150.344 21.9531 149.445 21.4062 148.336 21.0312C147.242 20.6562 145.773 20.2578 143.93 19.8359C141.461 19.2578 139.391 18.5859 137.719 17.8203C136.062 17.0391 134.742 15.9844 133.758 14.6562C132.789 13.3125 132.305 11.6484 132.305 9.66406C132.305 7.77344 132.82 6.09375 133.852 4.625C134.883 3.15625 136.375 2.03125 138.328 1.25C140.281 0.453125 142.578 0.0546875 145.219 0.0546875C147.328 0.0546875 149.148 0.320312 150.68 0.851562C152.227 1.36719 153.508 2.0625 154.523 2.9375C155.539 3.79688 156.281 4.70312 156.75 5.65625C157.219 6.60938 157.453 7.53906 157.453 8.44531C157.453 9.27344 157.156 10.0234 156.562 10.6953C155.984 11.3516 155.258 11.6797 154.383 11.6797C153.586 11.6797 152.977 11.4844 152.555 11.0938C152.148 10.6875 151.703 10.0312 151.219 9.125C150.594 7.82812 149.844 6.82031 148.969 6.10156C148.094 5.36719 146.688 5 144.75 5C142.953 5 141.5 5.39844 140.391 6.19531C139.297 6.97656 138.75 7.92188 138.75 9.03125C138.75 9.71875 138.938 10.3125 139.312 10.8125C139.688 11.3125 140.203 11.7422 140.859 12.1016C141.516 12.4609 142.18 12.7422 142.852 12.9453C143.523 13.1484 144.633 13.4453 146.18 13.8359C148.117 14.2891 149.867 14.7891 151.43 15.3359C153.008 15.8828 154.344 16.5469 155.438 17.3281C156.547 18.1094 157.406 19.1016 158.016 20.3047C158.641 21.4922 158.953 22.9531 158.953 24.6875Z" fill="#0051ED"/>
                  </svg>
              </li>
              <div class="dropdown" style="margin-left: 200px; margin-top: 2vh;">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-bullhorn" style="color: #0051ed; font-size: 20px;">Alerts</i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li> <% for(var i=0;i<link.length;i++){  %>
                    <div class="spinner-grow text-success" role="status" >
                      <span class="visually-hidden">Loading...</span>
                </div><a href="<%= link[i] %>" style="color: black; font-size:medium; ">Live Lecture Click here </a>
                    <% } %></li>
                  
                </ul>
              </div>
              <li class="nav-item  ml-auto" style="margin-top: 2vh; font-weight: bold;" >
                
                <a class="nav-link " href="#" style="margin-left: 5vh; color: #0051ed;" class="gradient-border" type="button"  data-bs-toggle="modal" >Welcome User!</a>
              </li>
              <li class="nav-item ml-auto" style="margin-top: 2vh; font-weight: bold;">
                <a class="nav-link" href="/logout"  style="color: #0051ed;">Log Out </a>
              </li>
            </ul>
            <span class="navbar-text">
       
            </span>
          </div>
        </div>
      </nav>
      <hr>
      <div class="co" style="background-color: #EAF4FE; margin-top: -2.5vh;">
        <h2 style="text-align: center; color: black; font-weight: bold; padding-top: 5px;">Full Stack Courses</h2>
      <% for(var i=0;i<he2.length;i++){ %>
        <div class="ss" style="margin-left: 38vh;">
        <video width="800" height="500" controls="controls autoplay">

    
          <source src="upload2/<%=he2[i] %>" type="video/mp4" />
         
        </div>
        </video>
        <div class="but-pad">
            <div class="btn-group" style="margin-left: 45vh; margin-top: 4vh;">
                <a href="#apple" data-hash="2"><button >   <i class="fa fa-download" style="font-size:30px;"> Resources</i></button></a> 
                 
   
                 </div>
               </div>
   
           <% } %>
        <br>
        <br>
      </div>
     
        <footer class="footer">
            <div class="container">
              <div class="row">
                <div class="footer-col">
                
            
                  <h4>Courses</h4>
                  <ul>
                    <!-- <li><a href="/videof">Frontend Development</a></li>
                    <li><a href="/video1">Backend Development</a></li>
                    <li><a href="/video2">Full-Stack Development</a></li> -->
                    <br>
                    <br>
                    <br><br><br>
                    <!-- <li><img src="css/Webify.png" width="110px" height="40px" alt=""></li> -->
                    
                  </ul>
                </div>
                <div class="footer-col">
                  <h4>Features</h4>
                  <ul>
                    <li><a href="/ide">Web IDE</a></li>
                    <li><a href="http://localhost:800/">Discussion Forum</a></li>
                    <li><a href="#">Live Streaming</a></li>
                    <li><a href="https://hidden-island-71466.herokuapp.com/">Daily Updates</a></li>
                    <li><a href="/video1">Resources Access</a></li>
                    <li><a href="#">Quiz Section</a></li>
                  </ul>
                </div>
                <div class="footer-col">
                  <h4>Additional Info</h4>
                  <ul>
                    <li><a href="#">T&C</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Cookie Policy</a></li>
                    <li><a href="#">FAQ</a></li>
                  </ul>
                </div>
                <div class="footer-col">
                  <h4>follow us</h4>
                  <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <p>PaathShala is an educational website that will help you become a full-fledge learner with courses tailored for anyone and everyone - a beginner can start learning from scratch & a novice and brush up on their skills.</p>
                  </div>
                </div>
              </div>
            </div>
         </footer>
         
            <!-- Optional JavaScript; choose one of the two! -->
        
            <!-- Option 1: Bootstrap Bundle with Popper -->
            <script src="https://kit.fontawesome.com/ae8f1db1af.js" crossorigin="anonymous"></script>
      </body>
      </html>